body {
  background-color: red;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(81deg, #ddb35f, #7409c7);
}

.card {
  margin-top: 100px;
  height: 600px;
  width: 400px;
  text-align: center;
}

.image {
  width: 300px;
  height: 400px;
  align-items: center;
  border-radius: 20px;
}

.ul {
  list-style-type: none;
}

.card-2 {
  display: flex;
  align-items: center;
}

.other {
  margin-left: 10%;
  text-align: center;
}

.films-description {
  margin-left: 5%;
  width: 50%;
}

.ul {
  display: flex;
  gap: 250px;
}
